.imgDiv {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.imgDiv button {
  box-shadow: 0px 0px 10px 0px chartreuse;
  padding: 0.1rem;
  width: 80%;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}
.imgDiv img,
.imgDiv p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  height: 45vw;
}

@media (max-width: 551px) {
  .imgDiv button {
    width: 95%;
  }
}
