.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8rem);
  width: 100%;
  overflow: hidden;
}
.addPlaceFORM {
  display: flex;
  flex-direction: column;
  background-color: #046e6e;
  width: 98%;
  max-width: 700px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  color: #353232;
}
.addPlaceFORM input,
.addPlaceFORM textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 1rem;
}
