.mapDiv {
  position: fixed;
  left: 17vw;
  width: 66vw;
  top: 15vh;
  height: 80vh;
  background: white;
  box-shadow: 0 2px 8px #00000042;
  z-index: 10;
  border-radius: 8px;
  overflow: hidden;
}
.mapDiv header {
  height: 12%;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  align-items: center;
  width: 100%;
  background-color: darkblue;
  padding: 0 15px;
}
.mapDiv footer {
  position: absolute;
  background-color: transparent;
  bottom: 8px;
  right: 0;
  z-index: 13;
  display: flex;
}
.mapDiv main {
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapDiv main > img {
  height: 100%;
  width: 100%;
}
.mapDiv main > p {
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 2px 6px #00000042;
}
.mapDiv footer > button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid brown;
  color: brown;
  margin: auto 0.5rem;
  padding: 5px 20px;
}
.mapDiv footer > button:hover {
  background-color: brown;
  color: white;
}

@media (max-width: 426px) {
  .mapDiv {
    padding-bottom: 33px;
    width: 90vw;
    left: 5vw;
  }
  .mapDiv header {
    height: 18%;
    flex-direction: column;
    justify-content: center;
  }
}
