.user_item {
  margin: 0.5rem;
  width: 100%;
  max-width: 29rem;
}
.user_item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  background: #292929;
  color: #ffd900;
  border-radius: 5px;
}
.user_item:hover a {
  text-decoration: none;
  background-color: #ffd900;
}
.user_item_image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.user_item_info {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  padding: 0 15px;
  width: 100%;
}
.user_item_info h6,
.user_item_info p {
  color: #ffd900;
  margin: 3px;
}
.user_item a:hover .user_item_info p,
.user_item a:hover .user_item_info h6 {
  color: #292929;
}

@media (max-width: 770px) {
  .user_item {
    margin: 0.2rem;
  }
}
