.placesList
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
}

@media (max-width : 770px)
{
    .placesList
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}