.mainHeader {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px #00000042;
  padding: 0 1rem;
  height: 4rem;
  width: 100%;
  background-color: darkgreen;
  position: fixed;
  top: 0em;
  left: 0em;
  z-index: 5;
}
