.Progress
{
  background-color: white;
  width: 90%;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
}
.Progress div
{
  background-color: black;
  height: 100%;
  max-width: 100%;
  text-align: center;
  color: blue;
  position: relative;
}
.outerDiv
{
  width: 100vw;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: white;
}
.outerDiv form
{
  width: 88%;
  max-width: 700px;
  margin: 0;
  background-color: darkcyan;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  padding: 0 1rem;
  row-gap: 1.5rem;
}
.outerDiv form h3
{
  justify-self: center;
  margin-bottom: 0;
}
.imgChooser
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 95%;
  max-width: 275px;
  justify-self: center;
  box-shadow: 0 0 9px 1px forestgreen;
  color: white;
}
.imgChooser img
{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.inputDiv, .selector, .tArea
{
  display: flex;
  flex-direction: column;
}
.inputDiv input, .selector select
{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 7.5px;
  background-color: white;
  color: black;
}
.dob, .CNICdate
{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
    color: black;
    background-color: white;
}
.react-datepicker
{
  position: absolute !important;
}
.calendar
{
  position: absolute; 
  width: 100% !important;  
  top: 2.25rem; 
  left: 0; 
  z-index: 10;
}
.games
{
  position: relative;
  display: flex;
  flex-direction: column;
}
.games div
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: white;
  margin-top: 7.5px;
  border-radius: 5px;
  color: black;
  padding-left: 10px;
}
.games button 
{
  height: 35px;
  padding: 5px;
  background-color: green;
  color: white;
  float: right;
  box-sizing: border-box;
}
.games span { flex-grow: 1;height: 100%;line-height: 35px; cursor: pointer;}
.games select
{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
.tArea textarea
{
  border-radius: 5px;
  margin-top: 8px;
}
.submitBtn
{
  background-color: #579457;
  border: none;
  border-radius: 5px;
  color: white;
  padding: .75rem 0;
  margin-bottom: 1rem;
}
.submitBtn:hover
{
  background-color: green;
}

@media(min-width:800px)
{
  .outerDiv form {  grid-template-columns: 1fr 1fr; column-gap: 2rem;}
  .outerDiv form h3  {    grid-column: 1/3;  }
  .imgChooser 
  { 
    grid-area: 2 / 2 / 6 / 3;
    width: 95%;
    max-width: 95%;
    height: 310px;
  }
  .outerDiv form fieldset
  {
    grid-column: 1 / 3;
    border-radius: 5px;
    border: 1px solid white;
  } 
  
  .fieldsetDiv  {  display: flex; }
  .fieldsetDiv label { margin-right: 10px;}
  .tArea ,.submitBtn { grid-column: 1/3;}
}